html, body {/* Mainly not allowing scrolling on the page */
    width:700px; 
    background: black; 
    margin: 0; 
    height: 100%; 
    overflow: hidden
} 

h1 { 
    margin:0; 
    color: white; 
    font-family: silkscreen; 
    font-weight: normal; 
    text-align: center; 
    font-size: 3.5em;
} 

button { 
    width: 100px; 
    height: 45px; 
    margin-left: 62px; 
    font-size: 1.5em;
}

button:hover { 
    background: #808080;
}

canvas{
    margin-left: 60px; 
    border: 3px solid white;
    
}

.countDown{
    margin-left: 50px;
    color: white;
    font-family: silkscreen;
    text-align: center;
    font-size: 30px;
}

p{
    color: white;
    text-align: center;
    font-family: silkscreen;
    font-size: 30px;
}
/***********************************
* font-family: silkscreen <- This font doesnt work on all machines. Works fine on mac but not pc.
* TODO add a secondary font incase the person using doesnt have 'silkscreen' downloaded.
* 
*/
